ul{
    padding-left: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-gap: 2em;
}
li{
    -webkit-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    font-size: 2em;
    padding: 10px;
    background-color: #fae3d9;
    
    border-radius: 5px;
}