
h2 {
    font-size: 2.5em;
    color: rgb(111, 64, 117);
}
.header{
    font-family: monospace;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
   
}

.class-title{
    text-decoration-style: none;
    font-size: 3em;
}

.nav-links {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(111, 64, 117);
}

.class-active{
    color: #fc2e9f;
}

a:hover {
    color: #8ac6d1;
}



a{
    text-decoration: none;
}

.footer{
    font-family: monospace;
    background-color: #bbded6;
    display: flex;
    border-radius: 2px;
    justify-content: space-around;
    margin-top: 25px;
    
}