img{
    object-fit: contain;
}
.wrapper{
    
    background-color: #f7f7f7;
    min-height: 130vh;
    display: grid;
    grid-template-rows: 15em 3em 1fr 20em;
    grid-template-areas:
    "superheader"
    "header"
    "main"
    "footer";
   
}
.superheader{
    background-color: #f7f7f7;
    grid-area: superheader;
    color: #303030;
    font-size: 8em;
    padding: 0;
    margin: 10px 10px 50px 10%;
    text-shadow: 2px 2px 2px black;
    font-style: italic;
}



/* .header-wrapper > div > h2:hover{
    cursor: default;
} */
nav{
    background-color: #f7f7f7; 
    font-size: 2em;
    
    /* border-bottom: 1px solid grey; */
    -webkit-box-shadow: 0px 24px 26px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 24px 26px -13px rgba(0,0,0,0.75);
box-shadow: 0px 24px 26px -13px rgba(0,0,0,0.75);
}
nav > ul{
    padding-left: 0;
    display: inline-flex;
    width: 100%;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    
}


.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: grid;
    grid-area: header;
    
    /* font-family: monospace; */
    /* background-color: pink; */
    
    /* align-items: center;
    justify-content: space-around;
    border-radius: 2px; */
    /* height: 20em; */
   
}



.nav-links {
    /* list-style-type: none; */
    
    
    /* background-color: #303030;
    background-color: #f7f7f7; */
    
    
}

.nav-links a{
    text-decoration: none;
    color: #303030; 
    /* av nån anledning så blir färgen bättre här än i .nav-links */
    
}
.class-active > a{
    /* color: rgb(197, 24, 165); */
    /* color: #fc2e9f; */
    border-bottom: 3px solid #303030;
    border-radius: 5px;
}


.nav-links a:hover {
    /* color: #8ac6d1;
    color: #43d8c9; */
    border-bottom: 3px solid #f10808;
    border-radius: 5px;
}
main{
    
    margin: 2em 10% 0 10%;
}

.footer{
    display: grid;
    grid-area: footer;
    font-family: monospace;
    background-color: #080808;
    
    border-radius: 2px;
    /* justify-content: space-around; */
    
    
}
@media screen and (max-width: 1075px){
     .superheader{
        font-size: 6em;
        
    }
    .test{
        height: 20px;
    }
    
}
@media screen and (max-width: 830px){
    .superheader{
        font-size: 4em;
        
    }
    
}