<header class="header">

  <div class="class-title">
    <a routerLink="/start"
    [routerLinkActive]="'class-active'">
      Bakbloggen</a>
  </div>

 
  <nav>
    <ul class="nav-links">

      <li>
        <a routerLink="/start"
        [routerLinkActive]="'class-active'"> Startsida</a>
      </li>

      <li>
        <a routerLink="/senaste-artiklar"
        [routerLinkActive]="'class-active'"> Senaste artiklar</a>
      </li>

      <li>
        <a routerLink="/alla-artiklar" 
        [routerLinkActive]="['class-active']" >Alla artiklar
        </a>
      </li>

      <li>
        <a routerLink="/logga-in"
        [routerLinkActive]="['class-active']"> Logga in</a>
      </li>

      <li>
        
          <a> Skriv artikel</a>
        

      </li> <!--Kan vara synlig hela tiden och bli klickbar när man "loggat in" -->
      
      
    </ul>
  </nav>

</header>

<main>
  <router-outlet>  
    
  </router-outlet> 
</main>



<footer class="footer">
  <div>
    <p>Detta är en bakblogg som innehåller mumsiga recept! </p> 
  </div>
   

</footer>


