<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
<div class="wrapper">
  <div class="superheader"
    [routerLinkActive]="['class-active']"
    [routerLinkActiveOptions]="{exact: true}">
    <div routerLink="">BakBloggen<img src="../assets/peach_1f351.png" alt="butt"></div>
  </div>
  <div class="header">
    <div class="header-wrapper">
      <div
        [routerLinkActive]="['class-active']"
        [routerLinkActiveOptions]="{exact: true}">
          <h2 routerLink=""> </h2>
      </div>
      <nav>
        <ul class="nav-links">
          <li
          [routerLinkActive]="['class-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/senaste-artiklar"> senaste </a>
          </li>

          <li 
          [routerLinkActive]="['class-active']"
          [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/alla-artiklar" >alla </a>
          </li>

          <li 
          [routerLinkActive]="['class-active']"
          [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/ny-artikel" > lägg till </a>
          </li>

          <li 
          [routerLinkActive]="['class-active']"
          [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/logga-in" > logga in</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <main><router-outlet></router-outlet>
    <!-- <main>
      Vad ska man ha här ?
    </main> -->
  </main>
  <div class="footer">
    <div>
      <p>Detta är en bakblogg som innehåller mumsiga recept! </p> 
    </div>
  </div>
  
    

</div>


