.wrapper{
    
    border-radius: 5px;
    padding: 2em;
    color: #303030;
    /* margin: 4em auto 0 auto; */
    
    -webkit-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.75);
    
}
.topic{
    display: inline-block;
    font-size: 2em;
    border-bottom: 1px solid #303030;
    margin-bottom: 2em;
}


.form-row > textarea, .form-row > input{
    font-family: 'Old Standard TT', serif;
    font-size: 1.2em;
}
.form-group *{
    background-color: transparent;
}
.form-group > label{
    
    font-size: 1.5em;
    color: #555454;
    color: #303030;
}

.form-row > input, .form-row > textarea{
    width: 100%;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    box-sizing: border-box;
    border: none;
    /* lalala */
    border-radius: 5px;
     margin-bottom: 2em; 
     padding: 5px;
     border-bottom: 2px solid #bbded6;
     background-color: #fae3d9;
    
      
}
.flexwrap{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 1em;
}
.form-row > textarea{
    
    width: 100%;
    height: 10em;
    resize: vertical;
}
button{
    float: right;
}



