

<form #bloggForm="ngForm">

    <div class="wrapper">
        <div class="topic">Skriv en artikel</div>
        <div class="flexwrap">
            <div class="form-group">
                <label>Titel</label>
                <div class="form-row">
                    <input type="text"
                        placeholder="Sagan om Ringen"
                        required
                        [(ngModel)]="model.title" name="title"
                        #title="ngModel" />
                    <div>
                        <div *ngIf="title.errors?.required" class="error-message">
                            <!-- Enter a title -->
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <label>Författare</label>
                <div class="form-row">
                    <input type="text"
                        placeholder="Batman Batsson"
                        required
                        [(ngModel)]="model.author" name="author"
                        #author="ngModel" />
                    <div>
                        <div *ngIf="author.errors?.required" class="error-message">
                            <!-- Enter a Author -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Lästid</label>
                <div class="form-row">
                    <input type="text"
                        placeholder="Minuter"
                        required
                        [(ngModel)]="model.timeToRead" name="timeToRead"
                        #timeToRead="ngModel" />
                    <div>
                        <div *ngIf="timeToRead.errors?.required" class="error-message">
                            <!-- Enter a time to read -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Innehåll</label>
            <div class="form-row">
                
                <textarea 
                    placeholder="Det var en gång..."
                    required
                    [(ngModel)]="model.content" name="content"
                    #content="ngModel" ></textarea>
                <div>
                    <div *ngIf="content.errors?.required" class="error-message">
                        <!-- Enter content -->
                    </div>
                </div>
            </div>
        </div>
        <button (click)="spara()" [disabled]="bloggForm.invalid">Skicka!</button>
    </div>
</form>   
<br/><br/>
    {{ diagnostic }}