ul{
    padding-left: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-gap: 20px;
}
li{

    font-size: 2em;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titel ." 
    "author timeToRead"
    "the_content the_content";
    grid-gap: 20px;
    color: #303030;
}

.titel{
    font-size: 1.2em;
    font-weight: bold;
    grid-area: titel;
    color: #303030;
    
}
.author{
    font-size: 0.8em;
    font-style: italic;
    grid-area: author;
}
.timeToRead{
    font-size: 0.8em;
    grid-area: timeToRead;
}
.content{
    font-size: 0.6em;
    grid-area: the_content;
}