ul{
   
    margin: 20px auto 20px auto;
    max-width: 60em;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    
    
}
li{
    font-size: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titel timeToRead" 
    "author ."
    "the_content the_content";
    color: #303030;
}
.titel{
    font-size: 2em;
    font-weight: bold;
    grid-area: titel;
    color: orangered;
    
}
.author{
    margin-top: 2px;
    font-size: 0.8em;
    font-style: italic;
    grid-area: author;
}
.timeToRead{
    font-size: 0.8em;
    grid-area: timeToRead;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-start;
}
.content{
    padding-top: 30px;
    font-size: 0.6em;
    grid-area: the_content;
    white-space: pre-wrap;
}